
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminTools</title>
</head>
<body>
    <div>
        @Html.ActionLink("UsersTools", "UsersTools") |
    </div>
</body>
</html>
